<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patient</title>
    <link rel="icon" href="~/logo.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/Home.css" rel="stylesheet" />
    <link href="~/css/Patient.css" rel="stylesheet" />
    <!-- timepicker -->
    <link href="~/lib/time-picker-bootstrap/timepicker.css" rel="stylesheet" />
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <!-- timepicker -->
    <script src="~/lib/time-picker-bootstrap/timepicker.js"></script>

</head>
<body>
    <header>
        <div style="background-color:#e7e7e7" class="container-fluid">
            <div class="row">
                <div class="container">
                    <div class="col-sm-9 float-left">
                        <img id="Headimg" src="~/Images/ASH 4.png" height="66" />
                    </div>
                    <p class="float-right" style="margin-right:20px;margin-top:5px;color:#0094ff;font-size:30px;font-weight:bold">
                        19056
                    </p>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Patient" asp-action="Home" style="font-weight: bold">Home</a>
 
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Patient" asp-action="FollowedDoctors" style="font-size:20px;color:#0026ff;font-weight:bold">Followed Doctors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="UserProfile" style="font-size:20px;color:#0026ff;font-weight:bold">My Profile</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-sm-column">
                        <li class="nav-item">
                            <form asp-controller="Registration" asp-action="Logout">
                                <button name="logout" type="submit" value="out" class="btn btn-dark">Log out</button>
                            </form>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>

    </header>
    @*<div id="watermarkcont">
          <img id="watermark"src="~/Images/ASH B.png" />
        </div>*@
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="border-top footer text-muted" style="background-color:#6da6cf">
        <div class="text-center">
            &copy; 2020 - Ain Shams Hospital - Since 1980
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/time-picker-bootstrap/timepicker.js"></script>
    <script src="~/js/Patient.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>