
@{
    Layout = "~/Views/Front_Layout.cshtml";
}

<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Room</th>
            <th scope="col">Name</th>
            <th scope="col">start</th>
            <th scope="col">End</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var x in ViewBag.D1)

        {

        <tr>
            <th scope="row">@ViewBag.Roomnumber</th>
           
            

            <td>@x.Patient.Name</td>
            <td>@x.Start_Hour</td>
            <td>@x.End_Hour</td>
        </tr>
        }
    </tbody>

</table>