

<style>
    table td {
        border: solid 1px black;
    }
</style>
<div class="table">

    <table>
        <tr>
            <th>Room</th>
          <th>name</th>
            <th>Start</th>
            <th>end</th>
        </tr>

        @foreach (var x in ViewBag.D1)

        {

                <tr>
                    <td>@ViewBag.Roomnumber</td>

                    <td>@x.Patient.Name</td>
                    <td>@x.Start_Hour</td>
                    <td>@x.End_Hour</td>
                </tr>
            }

    </table>
</div>