<form>
    <div><a class="btn btn-success" asp-action="Roomreservation" role="button">Reserve room</a></div>
    <hr />
    <div><a class="btn btn-success" asp-action="Search" role="button">Search</a></div>
</form>