@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "~/Views/Front_Layout.cshtml";
}
<h1>THIS DOCTOR IS NOT FROM OUR STAFF</h1>