@model Ain_Shams_Hospital.ViewModels.AddSpecialization

@{
    ViewData["Title"] = "AddSpecialization";
    Layout = "~/Views/Manager_Layout.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="AddSpecialization">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Specialization" class="control-label"></label>
                <input asp-for="Specialization" class="form-control" />
                <span asp-validation-for="Specialization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Specialization" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<h6 style="color:#229130">@ViewBag.Success</h6>
<h6 style="color:#ff0000">@ViewBag.Fail</h6>
<h6 style="color:#ff0000">@ViewBag.Fail2</h6>
<h6 style="color:#ff0000">@ViewBag.Fail3</h6>
<div>
    <a asp-action="ViewSpecializations">Back to Specialization List</a>
</div>

