@model AinShamsHospital.ViewModels.ManagerEdit

@{
    ViewData["Title"] = "ManagerEdit";
    Layout = "~/Views/Manager_Layout.cshtml";
}



    <div class="row">
        <div class="col-md-4">
            <form asp-action="ManagerEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />

                
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Edit Price" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <h6 style="color:#229130">@ViewBag.Success</h6>
    <h6 style="color:#ff0000">@ViewBag.Fail</h6>
    <div>
        <a asp-action="ViewPrices">Back to List of Prices</a>
    </div>

