@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "~/Views/Manager_Layout.cshtml";
}
<a class="btn btn-info btn-lg btn-block" href="/Manager/AddHospital" role="button">Add Hospital</a>
<br />
<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
 
        </tr>
    </thead>
    <tbody>
        @foreach (var x in ViewBag.C1)

        {

            <tr>
                <th scope="row">@x.Name</th>
                

            </tr>
        }
    </tbody>

</table>
<br />
