
@{
    Layout = "~/Views/Front_Layout.cshtml";
}

<table class="table table-bordered">

    <thead class="thead-dark">
        <tr>
            <th>Room</th>
            <th>Name</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in ViewBag.D1)

        {

            <tr>
                <td>@ViewBag.Roomnumber</td>

                <td>@x.Patient.Name</td>
                <td>@x.Start_Hour</td>
                <td>@x.End_Hour</td>
            </tr>
        }

    </tbody>
</table>