@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <p class="pb-3 pt-4"><b style="font-size:30px;">Lab Specialist</b></p>
    <form>

        <div class="form-group">
            <label for="lab">Choose Your Test</label>
            <select class="form-control" id="lab">
                <option>Corona Test</option>
                <option>Liver Test</option>
                <option>Kidney Test</option>

            </select>
        </div>

        <div class="form-group">
            <label for="date">Choose A Date</label>
            <select class="form-control" id="date">
                <option>Tuesday 11:am</option>
                <option>Tuesday 1:am</option>
                <option>Tuesday 3:am</option>
            </select>
        </div>

        <div class="form-group">
            <label for="comments">Any Comments</label>
            <textarea class="form-control" id="comments" rows="3"></textarea>
        </div>
    </form>
</div>