@model Ain_Shams_Hospital.ViewModels.DoctorVM.TransferAnotherDepVM

@{
    //ViewData["Title"] = "AnotherDepartment";
    var AnotherDep = ViewBag.OtherDep;
    var AnotherDoc = ViewBag.OtherDoc;
}

<h1>Transfer this patient to:</h1>


@*<h4>TransferAnotherDepVM</h4>
<hr />*@
<div class="row">
    <div class="col-md-4">
        <form asp-action="AnotherDepartment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SpecializationId" class="control-label">Department of:</label>
                <select asp-for="SpecializationId" class="form-control" id="list" onchange="test(this.value);">
                    <option selected disabled hidden>select a department</option>
                    @foreach (var d in AnotherDep)
                    {
                        <option value="@d.Id"> @d.Name</option>
                    }
                </select>
                <span asp-validation-for="SpecializationId" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label class="control-label">Doctor:</label>
                <select class="form-control"  >
                   
                    <option selected disabled hidden></option>
                    @foreach (var c in AnotherDoc)
                    {
                        <option class="hide" id="s-@c.Specialization_Id"  value="@c.Id"> @c.Name</option>
                    }
                    
                   
                </select>
                <span asp-validation-for="SpecializationId" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<style>
    /*.hide {
        background-color:blue;
    }*/
    /*.s-2{
        display:none;
    }
    .s-3 {
        display: none;
    }
    */
    
</style>
<script>
    var y = document.querySelectorAll(".hide");
    var j;
    for (j = 0; j < y.length; j++) {
        y[j].style.display = "none";
    }
    function test(element)
    {

        var x = document.querySelectorAll("#s-" + element);
        var i;
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "inline";
            //x[i].style.background - color: red;
        }    
    }
</script>
<div><a href="#">content</a>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
