@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{
    Layout = "_PatientLayout";
}

<section>
    <div class="img_bg_p">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div style="display: inline-block;" class="text-white pt-5 mt-5">
                        <h3 style="width: 270px;" class="bg-danger p-2 ">Ain Shams Hospital</h3>

                        <h1 class="bg-dark p-3 ">
                            PERFECT STAFF IS AVAILABLE
                        </h1>
                        <h3 class="bg-dark p-2 ">BEST CHOICE FOR YOU</h3>
                        <h3 class="bg-primary p-3">Welcome! @ViewBag.patientname</h3>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

<section class="mt-4 mb-4" style="background-color:#d4e5f4">
    <div class="container" style="background-color:#d4e5f4">
        <section class="pricing " style="background-color:#d4e5f4">
            <div class="container text-dark pb-3" style="background-color:#d4e5f4">
                <h2 style="font-family: Dancing Script;font-size:34px;" class="pt-5 pb-2 text-center ">Services</h2>
                <hr>
                <div class="row pt-5 pb-5" style="background-color:#d4e5f4">
                    <div class="col-lg-4 ">
                        <div class="price " style=" background-color: #c9c6c2">
                            <div style="margin-right: 10px;margin-left: 10px;margin-bottom:10px; margin-top:10px;" class="row ">
                                <div class="left col-sm-4 text-center " style=" background-color: #c9c6c2">
                                    <i class=" fas fa-money-bill-wave-alt fa-2x "></i>
                                    <h5>OFFER 1</h5>

                                </div>
                                <div class="right col-sm-8" style="background-color:#faaaaa">
                                    <ul class="list-unstyled " style="background-color:#faaaaa">
                                        <li> Pay Extra $7 And Pick</li>
                                        <li>Fast Surgery </li>
                                        <li>Fast Laboratory Tests </li>
                                        <li>Fast Examination</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 ">
                        <div class="price " style=" background-color: #c9c6c2">
                            <div style="margin-right: 10px;margin-left: 10px;margin-bottom:10px; margin-top:10px;" class="row ">
                                <div class="left col-sm-4 text-center" style=" background-color: #c9c6c2">
                                    <i class="  far fa-smile fa-2x "></i>
                                    <h5>OFFER 2</h5>


                                </div>
                                <div class="right col-sm-8" style="background-color:#faaaaa">
                                    <ul class="list-unstyled " style="background-color:#faaaaa">
                                        <li>A Free Laboratory Test For Surgeries</li>
                                        <li>20% Discount on Examinations</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 ">
                        <div class="price " style="background-color: #c9c6c2">
                            <div style="margin-right: 10px;margin-left: 10px;margin-bottom:10px; margin-top:10px; " class="row ">
                                <div class="left col-sm-4 text-center" style=" background-color: #c9c6c2">
                                    <i class="fas fa-stethoscope fa-2x "></i>
                                    <h5>OFFER 3</h5>

                                </div>
                                <div class="right col-sm-8" style="background-color:#faaaaa">
                                    <ul class="list-unstyled " style="background-color:#faaaaa">
                                        <li>12% Discount On Holidays For Surgeries</li>
                                        <li> 9% Discount On laboratory Tests</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
    </div>


</section>





<section class="superdoctors mt-4 mb-4">

    <div class="doctors pt-5">
        <div class="container">
            <h2 class="h1 text-white text-center" style="font-family: Dancing Script" , cursive;">Our Sectors</h2>
            <hr>
            <div class="row text-center">
                <div class="card-group p-5">

                    <div class="col-lg-4 col-sm-12 ">
                        <a asp-action="labSpecialist" asp-controller="Patient" role="button">
                            <div class="card shadow mt-3">

                                <img class="card-img-top" src="~/images/l2.jpg" alt="lab">
                                <div class="card-body">
                                    <h5 class="card-title">laboratory</h5>

                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-sm-12">
                        <a asp-action="SelectDoctor" asp-controller="Patient">
                            <div class="card shadow mt-3">

                                <img class="card-img-top" src="~/images/image1.jpg" alt="Doctor">
                                <div class="card-body">
                                    <h5 class="card-title">Doctor</h5>

                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-sm-12">
                        <a asp-action="Surgeon" asp-controller="Patient">
                            <div class="card shadow mt-3">

                                <img class="card-img-top" src="~/images/s1.jpg" alt="Surgeon">
                                <div class="card-body">
                                    <h5 class="card-title">Surgery</h5>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
