@model Ain_Shams_University.ViewModels.PaymentVM

@{
    ViewData["Title"] = "Payment";
    Layout = "_PatientLayout";
}
<div class="container">
    <h1> Your Request Has been Successfully Recorded</h1>
</div>
