body{
    background-color: darkgrey;
}

#doctor-main .card{
    width: 400px;
}

.row{
    justify-content: center;
}

#doctor-main .card {
    transition: transform 0.5s;
}

#doctor-main .card:hover{
    -ms-transform: scale(1.06); /* IE 9 */
    -webkit-transform: scale(1.06); /* Safari 3-8 */
    transform: scale(1.06);   
    box-shadow: 5px 3px #888888c4;
    z-index: 2;
}

#doctor-main button {
    display: contents;
}

#doctor-main .footer {
    background-color: #6da6cf;
    position: absolute;
    bottom: 0;
    width: -webkit-fill-available;
}

.footer {
    background-color: #6da6cf;
}