.nora {
    background-image: url('../images/background-finance-money-economics-seamless-white-vector-topic-economy-banking-gray-line-icons-67576305.jpg'), linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
    background-size: cover;
    background-color: #1A1919;
    background-repeat: no-repeat;
}
.nora1 {
    background-color: #e7e7e7;
        background-repeat: no-repeat;
}
.img1
{
    width:500px;
}
#goodfinance{
    max-height:600px;
}