.frontimg{
    max-height:170px;
}
.card-img-top {
    transition: all 0.2s ease-in-out;
    width: 100%;
    height: 72%;
}

.card-title {
    font-family: "Dancing Script", cursive;
    font-weight: bolder;
    font-size: 30px;
}

.card-img-top:hover {
    transform: scale(1.1);
}
