<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


    <link href="~/css/Front_Layout.css" rel="stylesheet" />

    <link href="~/css/Home.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div style="background-color:#e7e7e7" class="container-fluid">
            <div class="row">
                <div class="container">
                    <div class="col-sm-9 float-left">
                        <img id="Headimg" src="~/Images/ASH 4.png" height="66" />
                    </div>
                    <p class="float-right" style="margin-right:20px;margin-top:5px;color:#0094ff;font-size:30px;font-weight:bold">
                        19056
                    </p>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <ul class="nav nav-tabs">
                    <li class="nav-item ">
                        <a href="/Manager/Home" class="nav-link ">Main</a>
                    </li>
                    <li class="nav-item ">
                        <a href="/Manager/ManagerHome" class="nav-link ">Search</a>
                    </li>
                    <li class="nav-item active ">
                        <a href="/Manager/Deletemanager" class="nav-link ">Manage Staff</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Manager/ViewSpecializations" class="nav-link ">Manage Specializations</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Manager/ViewPrices" class="nav-link ">Manage Prices</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Manager/ViewHospital" class="nav-link ">Add Hospital</a>
                    </li>
                </ul>
                
            </div>
            
        </nav>

    </header>
    @*<div id="watermarkcont">
          <img id="watermark"src="~/Images/ASH B.png" />
        </div>*@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="border-top footer text-muted" style="background-color:#6da6cf">
        <div class="text-center">
            &copy; 2020 - Ain Shams Hospital - Since 1980
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
