@model AinShamsHospital.ViewModels.AddHospital

@{
    ViewData["Title"] = "AddHospital";
}

<h1>AddHospital</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddHospital">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Hospital" class="control-label"></label>
                <input asp-for="Hospital" class="form-control" />
                <span asp-validation-for="Hospital" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<h6 style="color:#229130">@ViewBag.Success</h6>
<h6 style="color:#ff0000">@ViewBag.Fail</h6>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
