
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Manager_Layout.cshtml";
}

<link href="~/css/Manager.css" rel="stylesheet" />
<div style="background-image: url('file:///D:\Manager\wwwroot\images\backgroundm.jpg');">
    <div class="col-md-4 offset-4 col-sm-4"><h3 style=" font-family: 'Lucida Handwriting'"> Ain Shams Hospital</h3></div>

</div>

<div class="row" style="background-color:#cbdaff;border-radius:10px">
    <div class="col-md-4 offset-1 col-sm-4" style="padding:25px 0 25px 0">
        <a href="~/Manager/state">
            <div class="ccontainer">
                <img src="~/images/download (1).jpg" alt="Avatar" class="cimage" />
                <div class="overlay">
                    <div class="ctext">Statistics</div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 offset-1 col-sm-4" style="padding:25px 0 25px 0">
        <a href="~/Manager/ManagerHome">
            <div class="ccontainer">

                <img src="~/images/search.png" alt="Avatar" class="cimage" />
                <div class="overlay">
                    <div class="ctext">Search for Staff Members</div>
                </div>
            </div>
        </a>
    </div>

</div>
