
@{

}
<a class="btn btn-info btn-lg btn-block" href="/Manager/AddSpecialization" role="button">Add Specialization</a>
<br/>
<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Specialization</th>
            <th scope="col">Code</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var x in ViewBag.C1)

        {

            <tr>
                <th scope="row">@x.Name</th>
                <td>@x.Code</td>

            </tr>
        }
    </tbody>

</table>
<br />

