
@{
    Layout = "~/Views/Manager_Layout.cshtml";
}
<a class="btn btn-info btn-lg btn-block" href="/Manager/AddPrice" role="button">Add Serice Price</a>
<a class="btn btn-info btn-lg btn-block" href="/Manager/Deleteprice" role="button">Delete Specialization</a>


<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var x in ViewBag.C1)

        {

            <tr>
                <th scope="row">@x.Name</th>
                <td>@x.Price</td>

            </tr>
        }
    </tbody>

</table>
<br />
<a class="btn btn-secondary btn-lg btn-block" href="/Manager/ManagerEdit" role="button">Edit Prices</a>


