<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<<<<<<< HEAD
    <title>@ViewData["Title"] - Ain_Shams_Hospital</title>
=======
    <title>@ViewData["Title"] - Project</title>
>>>>>>> origin/Layout,Main-page
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
<<<<<<< HEAD
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Ain_Shams_Hospital</a>
=======
        <div style="background-color:#e7e7e7">
            <div class="row">
                <div class="container">

                    <div class="col-sm-9"><img id="Headimg" src="~/Images/ASH 4.png" /></div>
                </div>
               <div class="row align-items-center"><div class="col-sm-3"><p style="margin-right:20px;margin-top:5px;color:#0094ff;font-size:30px;font-weight:bold">19056</p></div></div>
                
            </div>
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
>>>>>>> origin/Layout,Main-page
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
<<<<<<< HEAD
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
=======
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
>>>>>>> origin/Layout,Main-page
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
<<<<<<< HEAD
    </header>
=======

    </header>
    @*<div id="watermarkcont">
      <img id="watermark"src="~/Images/ASH B.png" />
    </div>*@
>>>>>>> origin/Layout,Main-page
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
<<<<<<< HEAD

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Ain_Shams_Hospital - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
=======
   

    <footer class="border-top footer text-muted" style="background-color:#6da6cf">
        <div class="text-center">
            &copy; 2020 - Ain Shams Hospital - Since 1980 
>>>>>>> origin/Layout,Main-page
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
