@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Ain_Shams_Hospital.Classes;

<section>
    <div class="img_bg_p">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                <div style="display: inline-block;" class="text-white pt-5 mt-5">
                    <h3 style="width: 270px;" class="bg-danger p-2 ">Ain Shams Hospital</h3>

                    <h1 class="bg-dark p-3 ">
                        PERFECT STAFF IS AVAILABLE
                    </h1>
                    <h3 class="bg-dark p-2 ">BEST CHOICE FOR YOU</h3>
                    <h3 class="bg-primary p-3">Welcome! @ClassDisplayUserName.user</h3>
                </div>
                </div>
              
            </div>
        </div>
        
    </div>
</section>

<section class="mt-4 mb-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div style="height:240px;" class="card shadow mt-5 mb-5">
                    <h2 style="font-family: Dancing Script;" class="h1 pt-5 pb-2 text-center mt-3">Services</h2>
                    <a style="width:50%; margin:auto;" asp-action="Services" asp-controller="Patient" role="button" class="btn btn-primary mb-5">Pick Your Offer</a>

                </div>
            </div>
            <div class="col-sm-6">
                <div style="height:240px;" class="card shadow mt-5 mb-5">
                    <h2 style="font-family: Dancing Script;" class="h1 pt-5 pb-2 text-center mt-3">Followed Doctors</h2>
                    <a style="width:50%; margin:auto;" asp-action="FollowedDoctors" asp-controller="Patient" role="button" class="btn btn-primary mb-5">Show</a>

                </div>
            </div>
        </div>
    </div>

</section>




<section class="superdoctors mt-4 mb-4">

    <div class="doctors pt-5">
        <div class="container-fluid">
            <h2 class="h1 text-white text-center" style="font-family: Dancing Script" , cursive;">Pick A Doctor</h2>
            <hr>
            <div class="row text-center">



                <div class="card-group p-5">

                    <div class="col-lg-3 col-sm-6 ">
                        <a asp-action="labSpecialist" asp-controller="Patient" role="button">
                            <div class="card shadow mt-3">

                                <img class="card-img-top" src="~/images/lab.jpg" alt="lab">
                                <div class="card-body">
                                    <h5 class="card-title">laboratory</h5>

                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <a asp-action="EyesDoctor" asp-controller="Patient">
                            <div class="card shadow mt-3">

                                <img class="card-img-top" src="~/images/eyes1.jpg" alt="Eyes Doctor">
                                <div class="card-body">
                                    <h5 class="card-title">Eye's Doctor</h5>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <a asp-action="BabyDoctor" asp-controller="Patient">
                            <div class="card shadow mt-3">

                                <img class="card-img-top" src="~/images/baby.jpg" alt="Baby's Doctor">
                                <div class="card-body">
                                    <h5 class="card-title">Baby's Doctor</h5>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <a asp-action="Surgeon" asp-controller="Patient">
                            <div class="card shadow mt-3">

                                <img class="card-img-top" src="~/images/Surgeon.jpg" alt="Surgeon">
                                <div class="card-body">
                                    <h5 class="card-title">Surgeon</h5>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
