@model Ain_Shams_Hospital.ViewModels.offlinepay

@{
    ViewData["Tital"] = "offlinepay";
    Layout = "_PatientLayout";

}
<div class="container mt-5 mb-5 text-center">
    <form asp-action="offlinepay" class="mt-5">
        <h1 class="text-decoration-none" style="color:red">Your Request Is Submitted Sucssesfully</h1>
        <h2>The cost = @ViewBag.massage $</h2>
        <h3>Thanks For Choosing Our Hospital</h3>
    </form>

    <div class="mt-5">
        <a asp-action="Home">Back</a>
    </div>
</div>