@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{
    Layout = "_PatientLayout";
}
<div class="container">
    <section class="pricing ">
        <div class="container text-dark pb-3">
            <h2 style="font-family: Dancing Script;" class="h1 pt-5 pb-2 text-center ">Services</h2>
            <hr>
            <div class="row pt-5 pb-5">
                <div class="col-lg-4 ">
                    <div class="price ">
                        <div style="margin-right: 10px;margin-left: 10px;margin-bottom:10px; margin-top:10px;" class="row ">
                            <div class="left col-sm-4 text-center ">
                                <i class=" fas fa-money-bill-wave-alt fa-2x "></i>
                                <h5>OFFER 1</h5>

                            </div>
                            <div class="right col-sm-8">
                                <ul class="list-unstyled ">
                                    <li> Pay Extra $7 And Pick</li>
                                    <li>Fast Surgery </li>
                                    <li>Fast Laboratory Tests </li>
                                    <li>Fast Examination</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 ">
                    <div class="price ">
                        <div style="margin-right: 10px;margin-left: 10px;margin-bottom:10px; margin-top:10px;" class="row ">
                            <div class="left col-sm-4 text-center">
                                <i class="  far fa-smile fa-2x "></i>
                                <h5>OFFER 2</h5>


                            </div>
                            <div class="right col-sm-8">
                                <ul class="list-unstyled ">
                                    <li>A Free Laboratory Test For Surgeries</li>
                                    <li>20% Discount on Examinations</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 ">
                    <div class="price ">
                        <div style="margin-right: 10px;margin-left: 10px;margin-bottom:10px; margin-top:10px;" class="row ">
                            <div class="left col-sm-4 text-center">
                                <i class="fas fa-stethoscope fa-2x "></i>
                                <h5>OFFER 3</h5>

                            </div>
                            <div class="right col-sm-8">
                                <ul class="list-unstyled ">
                                    <li>12% Discount On Holidays For Surgeries</li>
                                    <li> 9% Discount On laboratory Tests</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            
        </div>
    </section>
</div>