@{
    ViewData["Title"] = "About";
}
<h1>About Ain Shams Hospital</h1>

<p>ASH has over two decades of experience in the healthcare sector, and is known for providing quality healthcare and valuable experience to all domestic and international patients. Our healthcare offerings are supported by a team of compassionate and dedicated medical professionals who have rich knowledge and experience in their respective domains.</p>
<div class="row">
    <div class="col-md-8">
        <h4 style="color:#101e6c">Our Vision</h4>
        <p>To Be Trustworthy, Empathetic And Ethical Medical Organization Responsive To The Needs Of The Community And Society.</p>
        <h4 style="color:#101e6c">Our Mission</h4>
        <p>To Provide Evidence-Based, Safe Medical Services Delivered with Effective Management, Engagement with Our Community and Fulfillment of Our Stakeholder’s Needs.</p>
        <h4 style="color:#101e6c">Core Values</h4>
        <ul>
            <li>Quality</li>
            <li>Safety</li>
            <li>Empathy</li>
        </ul>
    </div>
    <div class="col-md-4">
        <img src="~/Images/side-mission-vission.jpg" />
    </div>
</div>
