@{
    ViewData["Title"] = "Contact";
}
<div class="container">
<h1> Contact Us</h1>

<div class="row col-md-6 offset-3">
    <div class="card card-body bg-light">

        <form>
            <label> Your name:</label>
            <br />
            <input class="form-control" placeholder="Your name" />
            <br />
            <label> Email:</label>
            <input type="email" class="form-control" placeholder=" Email" />
            <br />
            <label>Subject:</label>
            <br />
            <input type="text" class="form-control" placeholder="Subject" />
            <br />
            <label> Message:</label>
            <br />
            <textarea rows="4" class="form-control"></textarea>
            <br />
            <input type="submit" value="send message" class="btn btn-primary" />
        </form>

    </div>
        </div>
</div>

