
@{
    ViewData["Title"] = "Covid";
}

    z
<div class="row">
    <div class="col-md-8">
        <h2 class="covidh">Wash your hands often</h2>
        <ol>
            <li>Before eating or preparing food</li>
            <li>Before touching your face</li>
            <li>After handling your mask</li>
            <li>After touching animals or pets</li>
        </ol>
    </div>
    <div>
        <img id="wash"src="~/images/3497-200.png" />
    </div>
</div>
    
<div class="row">
    <div class="col-md-8">
        <h2 class="covidh">Avoid close contact</h2>
        <p>
            Put 6 feet of distance between yourself and people who don’t live in your household.
            Remember that some people without symptoms may be able to spread virus.
        </p>
    </div>
    <div>
        <img id="avoid"src="~/images/D9PM16520-DIST-EN.jpg" />
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <h2 class="covidh">Cover your mouth and nose with a mask when around others</h2>
        <p>
            Masks help prevent you from getting or spreading the virus.
            You could spread COVID-19 to others even if you do not feel sick.
        </p>
    </div>
    <div class="col-md-4">
        <img id="mask"src="~/images/mandatory-signs-ppe0053.png" />
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <h2 class="covidh">Cover coughs and sneezes</h2>
        <p>Always cover your mouth and nose with a tissue when you cough or sneeze or use the inside of your elbow and do not spit.</p>
    </div>
    <div class="col-md-4">
        <img id="cover" src="~/images/personal-hygiene-covering-mouth-tissue-sneezing-icon-as-eps-file-wearing-protective-medical-mask-prevent-virus-177135313.jpg" />
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <h2 class="covidh">Clean and disinfect</h2>
        <p>Clean AND disinfect frequently touched surfaces daily. This includes tables, doorknobs, light switches, countertops, handles, desks, phones, keyboards, toilets, faucets, and sinks.</p>
    </div>
    <div>
        <img id="clean"src="~/images/cleaning-drawer-1630979-1380574.png" />
    </div>
</div>
