
@{
    ViewData["Title"] = "Covid";
}
<ul>
    <li>
        <h2>Wash your hands often</h2>
        <ol>
            <li>Before eating or preparing food</li>
            <li>Before touching your face</li>
            <li>After handling your mask</li>
            <li>After touching animals or pets</li>
        </ol>
    </li>
    <li><h2>Avoid close contact</h2>
        <p>
            Put 6 feet of distance between yourself and people who don’t live in your household.
            Remember that some people without symptoms may be able to spread virus.
        </p></li>
    <li><h2>Cover your mouth and nose with a mask when around others</h2>
        <p>
            Masks help prevent you from getting or spreading the virus.
            You could spread COVID-19 to others even if you do not feel sick.
        </p></li>
    <li><h2>Cover coughs and sneezes</h2>
        <p>Always cover your mouth and nose with a tissue when you cough or sneeze or use the inside of your elbow and do not spit.</p></li>
    <li><h2>Clean and disinfect</h2>
        <p>Clean AND disinfect frequently touched surfaces daily. This includes tables, doorknobs, light switches, countertops, handles, desks, phones, keyboards, toilets, faucets, and sinks.</p></li>
</ul>
