@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <h1 class="display-4"> <b>Welcome to Ain Shams Hospital</b></h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>

<a href="Home/Covid">
    <h1 style="color:red" class="text-right"> <b>Covid Precautions!</b></h1>
</a>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <img id="logo" src="~/images/ASH 2B.png" />
        </div>
        <div class="row align-items-center">
            <div class="col">
                <h2>"We Care About Your Health."</h2>
                <h5> We provide you with expert doctors & best services.</h5>
            </div>
        </div>
    </div>
</div>

<br />

<div class="container">
    <div class="row">
        <div class="col">

            <img src="~/images/M_carilion-roanoke-memorial-hospital.jpg" id="main" />
        </div>
        <div class="col">
            <img src="~/images/5a5ea5033865b.image.jpg" id="main" />
            @*<img src="~/images/we care about your health.PNG" id="main"/>*@
        </div>
    </div>
</div>

<br />

<div class="col-md-4 offset-4">
    <h6 class="text-center">We are happy to serve you. </h6>
    <form class="card card-body">
        @*<label>Email or Username:</label>
        <input class="form-control" placeholder="Email or Username" />
        <br />
        <label>Password:</label>
        <input type="password" placeholder="Password" class="form-control" />
        <br />*@
        <input class="btn btn-dark w-auto text-center" type="submit" value="log in" />
        <hr />
        <input class="btn btn-success" type="submit" value="Create New Account" />
    </form>
</div>

