@model Ain_Shams_Hospital.ViewModels.actVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Please enter your Activation Code</h2>
<p>Hint:if you are a patient enter "0000"</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Activation" class="control-label"></label>
                <input asp-for="Activation" class="form-control" />
                <span asp-validation-for="Activation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Login">Login</a>
</div>

