
@{
    ViewData["Title"] = "login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>login Form </h1>
    <div class="w3ls-login box box--big">
        <!-- form starts here -->
        <form action="~/images/" method="post">
            <img src="images/icon.png" alt="" />
            <div class="agile-field-txt">
                <label>
                    <i class="fa fa-user" aria-hidden="true"></i> Email
                </label>
                <input type="email" name="email" placeholder="Enter Your Email " required="" />
            </div>
            <div class="agile-field-txt">
                <label>
                    <i class="fa fa-lock" aria-hidden="true"></i> Password
                </label>
                <input type="password" name="Password" placeholder=" Enter Your Password" required="" id="myInput" />
                <div class="agile_label">
                    <input id="check3" name="check3" type="checkbox" value="show password" onclick="myFunction()">
                    <label class="check" for="check3">Show password</label>
                </div>
                <div class="agile-right">
                    <a href="#">forgot password?</a>
                </div>
            </div>
            <!-- script for show password -->
            <script>
				function myFunction() {
					var x = document.getElementById("myInput");
					if (x.type === "password") {
						x.type = "text";
					} else {
						x.type = "password";
					}
				}
            </script>
            <!-- //end script -->
            <div class="w3ls-bot">
                <div class="switch-agileits">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                        keep me signed in
                    </label>
                </div>
                <input type="submit" value="LOGIN">
            </div>
        </form>
    </div>



