
<div class="container">
    <p class="pb-3 pt-4"><b style="font-size:30px;">Baby's Doctor</b></p>
    <form asp-controller="Patient" asp-action="BabyDoctor" method="post">

        <div class="form-group">
            <label for="doctors">Choose A Doctor</label>
            <select class="form-control" id="doctors">
                <option>Dr Renaad</option>
                <option>Dr Nouran</option>
                <option>Dr Noha</option>
            </select>
        </div>

        <div class="form-group">
            <label >Choose A Date</label>
            <input  class="form-control" />
            <select  id="date">
                <option selected disabled>--Select--</option>
                <option>11:am</option>
                <option>1:am</option>
                <option>3:am</option>
            </select>
            <span ></span>
        </div>

        <div class="form-group">
            <label for="record">Please Enter Your Medical Record</label>
            <textarea class="form-control" id="record" rows="5" placeholder="eg: What medications do the Baby take at home?
What is each medicine for?
What is the dose?"></textarea>
        </div>
    </form>
</div>
