@model Ain_Shams_University.ViewModels.DateEditePTVM

@{
    ViewData["Title"] = "DateEdit";
}

<h1 class="col-auto" style="color:#0026ff">Your just Transfered To anther Doctor !</h1>

<h4 class="col-md-4" style="color:#ff0000">Please Reset Your Checking Date</h4>
<div class="container mt-5">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post" asp-action="DateEdit">
                <div class="expiry-date-group form-group">
                    <label asp-for="DateEdite">Edite THe Date</label>
                    <input asp-for="DateEdite" class="form-control" type="date">
                    <span asp-validation-for="DateEdite" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="FollowedDoctors">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

</div>