@model Ain_Shams_University.ViewModels.DoctorScheduleVM

@{
    ViewData["Title"] = "DoctorSchedules";
    Layout = "_PatientLayout";
}

<div class="container mt-5">

    <h1 class="mt-5">Hello! <span style="font-size :34px;" class="text-danger">@ViewBag.patientname</span></h1>
    <h2> <span>@ViewBag.dr</span>'s Schedule </h2>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <tr>
                    <th>
                        Working Day
                    </th>
                    <th>
                        Duration
                    </th>
                </tr>

                @foreach (var item in ViewBag.listdays)
                {
                    <tr>
                        <td>@item</td>
                        <td>9AM-4PM</td>
                    </tr>
                }

            </table>
        </div>
        <div  class="col-md-4">
            <img style=" width:190px;height:190px; margin:35px; border:2px solid black;border-radius:50%" src="~/images/user.png" />
        </div>
    </div>

    <div>
        <a asp-action="Home">Back</a>
    </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>