@model Ain_Shams_University.ViewModels.DoctorScheduleVM

@{
    ViewData["Title"] = "DoctorSchedules";
}

<div class="container mt-5">

    <h1 class="mt-5">Hello! <span style="font-size :34px;" class="text-danger">@ViewBag.patientname</span></h1>
    <h2>  Doctor Schedule </h2>
    <h2>@ViewBag.Test</h2>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="DoctorSchedules">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">

                    <div>@ViewBag.masseg3</div>
                </div>

            </form>
        </div>
    </div>

    <div>
        <a asp-action="Home">Back</a>
    </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>