@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <p class="pb-3 pt-4"><b style="font-size:30px;">Eyes Doctor</b></p>
    <form>

        <div class="form-group">
            <label for="doctors">Choose A Doctor</label>
            <select class="form-control" id="doctors">
                <option>Dr Omar</option>
                <option>Dr Nouran</option>
                <option>Dr Abd El Rahman</option>
            </select>
        </div>

        <div class="form-group">
            <label for="date">Choose A Date</label>
            <select class="form-control" id="date">
                <option>Tuesday 11:am</option>
                <option>Tuesday 1:am</option>
                <option>Tuesday 3:am</option>
            </select>
        </div>

        <div class="form-group">
            <label for="record">Please Enter Your Medical Record</label>
            <textarea class="form-control" id="record" rows="5" placeholder="eg: What medications do you take at home?
What is each medicine for?
What is the dose?"></textarea>
        </div>
    </form>
</div>