@model Ain_Shams_University.ViewModels.FollowedDoctorsVM

@{
    ViewData["Title"] = "FollowedDoctors";
    Layout = "_PatientLayout";
}

<div class="container mt-5">

    <h1 class="mt-5">Hello! <span style="font-size :34px;" class="text-danger">@ViewBag.patientname</span></h1>
    <h2>Your Doctors List</h2>


    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="FollowedDoctors">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="DoctorsName" >Show Your Doctors list</label>
                    <select class="form-control" asp-for="Id" asp-items="@(new SelectList(@ViewBag.massege2 ,"Id","Name"))">
                    </select>
                </div>
                <div class="form-group">
                    <a type="submit" asp-action="DoctorSchedules" asp-controller="Patient" role="button" class="btn btn-primary">Show doctor Schedule</a>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Home">Back</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>
