@model Ain_Shams_University.ViewModels.labSpecialistVM

@{
    ViewData["Title"] = "labSpecialist";
}

<div class="container">
    <h1>laboratory</h1>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="LabSpecialist">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Id" for="doctors">Choose Your Test</label>
                    <select class="form-control" asp-for="Id" asp-items="@(new SelectList(@ViewBag.massege ,"Id","Name"))">
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" type="datetime-local" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MedicalRecord" for="record">Please Enter Your Medical Record</label>
                    <textarea asp-for="MedicalRecord" class="form-control" id="record" rows="5" placeholder="eg: What medications do you take at home?
What is each medicine for?
What is the dose?"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Pick" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back</a>
    </div>

</div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




