@model Ain_Shams_University.ViewModels.SelectDoctorVM

@{
    ViewData["Title"] = "SelectDoctor";
}

<div class="container mt-5">

    <h1 class="mt-5">Hello! <span style="font-size :34px;" class="text-danger">@ViewBag.patientname</span></h1>
    <h2>Select Which Doctor You Are Looking For</h2>


    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="SelectDoctor">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="DoctorSpecialization" for="selectdoctors">Choose A Doctor Type</label>
                    <select class="form-control" id="disablefirst" asp-for="Id" asp-items="@(new SelectList(@ViewBag.massege ,"Id","Name"))" >
                    </select>
                </div>
                
                <div class="form-group">
                    <input type="submit" value="Next" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Home">Back</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    </div>