@model Ain_Shams_University.ViewModels.SurgeonVM

@{
    ViewData["Title"] = "Surgeon";
    Layout = "_PatientLayout";
}
<div class="container">
    <h1 class="text-center">Surgeon</h1>
    <hr />

    <div class="row">
        <div class="col-md-10" style="margin:auto;">
            <form asp-action="Surgeon">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="DoctorName" for="doctors">Choose A Doctor</label>
                    <select class="form-control" id="disablefirst" asp-for="Id" asp-items="@(new SelectList(@ViewBag.massege ,"Id","Name"))">
                    </select>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="Date" class="control-label"></label>
                            <input asp-for="Date" class="form-control" id="ExpiryDate" type="date" />
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="Hour" class=" control-label"></label>
                            <input asp-for="Hour" class="form-control example" type="text" />
                            <span asp-validation-for="Hour" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="MedicalRecord" for="record">Please Enter Your Medical Record</label>
                    <textarea asp-for="MedicalRecord" class="form-control" id="record" rows="5" placeholder="eg: What medications do you take at home?
What is each medicine for?
What is the dose?"></textarea>
                </div>
                <div class="card card-body">
                    <input type="submit" value="PayOnline" class="btn btn-primary" />
                </div>
                <div class="card card-body">
                    <input asp-action="offlinepay" asp-controller="Patient" type="submit" value="PayOffline" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Home">Back</a>
    </div>



    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

</div>